@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.eot') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans';
    src: url('../fonts/DMSans-Regular.eot');
    src: local('DMSans Regular'), local('DMSans-Regular'),
        url('../fonts/DMSans-Regular.eot') format('embedded-opentype'),
        url('../fonts/DMSans-Regular.woff2') format('woff2'),
        url('../fonts/DMSans-Regular.woff') format('woff'),
        url('../fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.eot') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../fonts/Inter-Bold.eot') format('embedded-opentype'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1.2;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}


button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;

}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
body {
    font-family: "Gilroy";
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.back{
    min-height: 1084px;
    color: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #FFFFFF 100%),
    url(../images/bg.png);
    background-size: cover; 
    background-position: 50% 50%;
    background-attachment:scroll;
    background-repeat: no-repeat;
}

.content {
    flex: 1 1 auto;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.header_container {
    min-height: 160px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.header_column {
    flex: 0 1 50%;
}

.logo {
    font-weight: bold;
    font-size: 28px;
}
.menu {
    min-width: 478px;
}

.menu li {
    position: relative;
}

.menu_list {
    display: flex;
    justify-content: space-between;
}

.menu_link {
    display: block;
    font-size: 18px;
    color: #ffffff;
    position: relative;
}

.menu_list>li:hover .sub-menu_list {
    display:block;
}

.arrow_menu {
    position: absolute;
    top: 7px;
    right: -20px;
}

.sub-menu_list {
    display: none;
    position: absolute;
    left: 0;
    top: 10px;
    padding-top: 15px;
}

.sub-menu_link {
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
}

.cart {
    text-align: end; 
    position: relative;
}

.cart span {
    position: absolute;
    right: 0;
    font-size: 16px;
    transform: translate(5px, 0px);
    font-weight: 500;
    padding: 3px;
    width: 17px;
    height: 25px;
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #E58411;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 400px;
    text-align: center;
}

.main_title {
    max-width: 861px;
    font-size: 80px;
    font-weight: bold;
    line-height: 104px;
    text-transform: capitalize;
    letter-spacing: -0.01em;
}

.main_subtitle {
    max-width: 606px;
    font-size: 24px;
    line-height: 38px;
    opacity: 80%;
}

.main_search {
    display: inline-block;
    position: relative;
}

.search_input {
    display: block;
    height: 56px;
    width: 344px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 42px;
    padding-left: 20px;
    padding-right: 20%;
    font-size: 18px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.15);
    opacity: 80%;
}

.search_button {
    position: absolute;
    right: 10px;
    top: 7px;
    width: 40px;
    height: 40px;
    background: #E58411;
    border-radius: 24px;
}

@media (max-width: 1199px) {
    .main_title{
    font-size: 60px;
    line-height: 80px;
    }  
    .main_container {
        min-height: 350px; 
    }
}

@media (max-width: 768px) {
    .menu {
        min-width: 350px;
    }
    
    .main_title{
        font-size: 45px;
        line-height: 60px;
        }  
    .main_container {
            min-height: 300px; 
        }
    .main_subtitle {
            font-size: 18px;
            line-height: 30px;
        
        }
    .search_input {
            height: 50px;
            width: 250px;
            border-radius: 32px;
            font-size: 16px;
        }
    .search_button {
            width: 35px;
            height: 35px;     
        }        
}

@media (max-width: 575px) {
    .main_title{
        font-size: 35px;
        line-height: 50px;
        margin-top: 20px;
        }  
    .main_container {
            min-height: 270px; 
        }
    .main_subtitle {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 10px;
        }
    .cart {
            align-self: start;
            margin-top: 5px;
        }
    header .logo {
            align-self: start;
        }
    .menu{
            align-self: start;
            margin-top: 10px;
            text-align: center;
            min-width: 100px;
        }
    .menu_list {
            display: inline-block;
            text-align: center;
        }
    .menu_link{
            margin-bottom: 5px;
        }    
}

.choice_container {
    min-height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(30, 30, 30, 1);
    text-transform: capitalize;
}

.title {
    max-width: 410px;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    text-transform: capitalize;
}

.choice_right {
    flex: 0 1 252px;
    padding: 0 10px 0 0;
}

.choice_left {
    flex: 0 1 908px;
    display: flex;
    justify-content: space-between;
}

.choice_column {
    max-width: 284px;
}

.choice_subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

.choice_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
    text-transform: none;
}

.more-info {
    margin-top: 5px;
    font-weight: 500;
    color: rgba(229, 132, 17, 1);
}

.more-info_icon {
    margin: 2px 0 0 10px;
}

@media (max-width: 1199px) {
    .choice_column {
        padding: 0 5px;
    }
}

@media (max-width:837px) {
    .choice_container {
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }

    .choice_right {
        flex: 0 1 auto;
    }

    .choice_left {
        flex: 0 1 auto;
    }

    .title {
        font-size: 30px;
    }

    .choice_subtitle {
        font-size: 20px;
        line-height: 28px;
    }

    .choice_text {
        font-size: inherit;
        line-height: 24px;
    }

    .choice_right {
        width: auto;
    }
}

@media (max-width:480px) {
    .choice_left {
        display: block;
    }

    .choice_subtitle {
        margin-bottom: 5px;
    }

    .choice_column {
        margin: 15px 0 10px 0;
    }
}

.best {
    background: #F7F7F7;
    background-size: cover;

}

.best_container {
    min-height: 900px;
    text-transform: capitalize;
    text-align: center;
}

.best_up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 230px;
}

.form_radio_group {
    background: rgba(238, 238, 238, 1);
    border-radius: 44px;
    display: inline-block;
	overflow: hidden;
}

.form_radio_group-item {
    padding: 7px 13px;
    border-radius: 44px;	
    display: inline-block;
}

.form_radio_group input[type=radio] {
	display: none;
}

.form_radio_group label {
	display: inline-block;
	cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    opacity: 0.8;
	padding: 15px 7px;
	line-height: 34px;
	user-select: none;
}
 
/* Checked */
.form_radio_group input[type=radio]:checked + label {
	background: #FFFFFF;
    border-radius: 32px;
    padding: 10px 19px;

} 
/* Hover */
.form_radio_group label:hover {
	color: #666;
}

@media (max-width:837px){
    .form_radio_group-item {
        padding: 4px 7px;
    }
    .form_radio_group input[type=radio]:checked + label {
        padding: 7px 14px;
    }
}

.best_down {
    margin-top: 20px;
}

.experiences_materials_container {
    min-height: 870px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experiences_img {
    margin: 0 calc(-50vw + 50%);
    position: relative;
    margin-right: 70px;
}

.experiences_img img {
    width: 100%;
}

.experiences_img::before {
    position: absolute;
    top: -13%;
    left: -10%;
    content: '';
    display: block;
    width: 80%;
    height: 100%;
    border-radius: 20px;
    background: #F7F7F7;
    z-index: -2;
}

.experiences_img::after {
    position: absolute;
    top: 15%;
    right: -10%;
    content: '';
    display: block;
    width: 100%;
    height: 70%;
    border-radius: 20px;
    background: #F7F7F7;
    z-index: -2;
}

.img_blur {
    position: relative;
}

.img_blur::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 90%;
    bottom: -5%;
    left: 2%;
    display: block;
    background: url(../images/exp1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(40px);
    z-index: -2;
}

.content_text {
    flex: 0 1 555px;
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.semi_orange {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #E58411;
}

.text {
    font-size: 18px;
    line-height: 185%;
    color: #1E1E1E;
}

.materials_img {
    display: flex;
    align-items: baseline;
    justify-content: right;
    max-width: 710px;
    max-height: 593px;
    margin: 0 calc(-50vw + 50%);
}

.materials_img img {
    width: 100%;
}

.img_right {
    flex: 0 1 280px;
}

.materials_img .img_blur {
    align-self: flex-end;
    margin: 10px 0 0 10px;
    position: relative;
}

.materials_img .img_blur::before {
    position: absolute;
    top: -10%;
    right: 0;
    content: '';
    display: block;
    width: 70%;
    height: 100%;
    border-top-left-radius: 20px;
    background: #F7F7F7;
    z-index: -2;
}

.materials_img .img_blur::after {
    left: 20%;
    background: url(../images/mat3.png);
}

@media (max-width:1200px) {
    .experiences_materials_container {
        min-height: 735px;
    }
}

@media (max-width:890px) {
    .experiences_materials_container {
        flex-direction: column;
        min-height: auto;
        align-items: baseline;
    }

    .experiences_img {
        margin-top: 70px;
        margin-right: 50px;
    }

    .img_blur::after {
        height: 80%;
        bottom: 0;
    }

    .content_text {
        flex: 0 1 auto;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin: 20px 0;
    }

    .materials_img {
        align-self: flex-end;
        margin-bottom: 20px;
    }
}

@media (max-width:500px) {
    .text {
        font-size: inherit;
    }

    .img_blur::after {
        height: 70%;
        bottom: 5%;
    }
}

.testimonials_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 800px;
    text-align: center;
}

.testimonials_container .semi_orange {
    margin-bottom: 20px;

}

.testimonials_container .title {
    max-width: none;
    margin-bottom: 30px;
}

@media (max-width:890px){
    .testimonials_container .semi_orange {
        margin-top: 20px;
    }
    .testimonials_container .title {
        margin-bottom: 0;
    }
    .testimonials_container {
        min-height: 700px;
    }
}

@media (max-width:420px){
    .testimonials_container {
        min-height: 500px;
    }
}



footer {
    background: #F7F7F7;
}

footer a {
    color: #1E1E1E;
}

.footer_container {
    min-height: 462px;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 24px;
    font-size: 15px;
}

.footer_up {
    display: flex;
    flex: 0 1 270px;
    justify-content: space-between;
}

.footer_right {
    min-height: 145px;
    max-width: 293px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer_left {
    display: flex;
    justify-content: space-between;
    flex: 0 1 555px;
}

.footer_column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer_column span {
    font-family: 'DMSans';
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.23px;
    color: #F6973F;
}

.fb_icons {
    padding-right: 16px;
}

.tw_icons {
    padding-right: 11px;
}

.inst_icons {
    padding-right: 10px;
}

.footer_down {
    display: flex;
    justify-content: space-between;
}

.footer_down span {
    font-family: 'DMSans';
    letter-spacing: -0.204545px;
    color: #1E2833;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.footer_down a {
    padding: 0 10px 0 20px;
}

@media (max-width:991px) {
    .footer_left {
        justify-content: space-evenly;
    }
}

@media (max-width: 767px) {
    .footer_container {
        min-height: 462px;
    }

    .footer_up {
        text-align: center;
        display: block;
        align-self: center;
    }

    .footer_right {
        max-width: 450px;
    }

    .footer_left {
        justify-content: space-between;
    }

    .tw_icons {
        padding-right: 15px;
    }
}

@media (max-width: 425px) {
    .footer_down a {
        display: flex;
        padding: inherit;
    }

    .footer_container {
        font-size: 14px;
    }
    .footer_column span {
        font-family: 'DMSans';
        font-size: 15px;
    }
}